<style>
    .pipeline-label {
        font-weight: bold;
        text-align: right;
    }

    .results {
        font-size: 0.8em;
        line-height: 2;
    }

    .entity-label {
        font-weight: bold;
        text-align: right;
        min-width: 95px;
    }

    .entity-desc {
        max-width: 430px;
    }
</style>

<div class="container" style="width:700px">
    <div class="row">
        <h4>Text to annotate</h4>
    </div>
    <div class="row">
        <div class="col-md-12 results">
            <textarea class="form-control" rows="5" #searchArea>Born in Honolulu, Hawaii, Obama is a graduate of Columbia University and Harvard Law School, where he served as president of the Harvard Law Review</textarea>
        </div>
    </div>
    <div class="row" style="margin-top: 5px">
        <div class="col-md-offset-9 col-md-3" style="text-align: right">
            <button type="button" class="btn btn-xs btn-success" (click)="annotate(searchArea.value)">Annotate</button>
        </div>
    </div>
    <div class="row" *ngIf="annotations.length > 0">
        <h4>NER annotation</h4>
    </div>
    <div class="row" style="margin-top: 15px;" *ngIf="annotations.length > 0">
        <div class="col-md-12 results">
            <smt-alignment-result *ngFor="let annotation of annotations" [annotation]="annotation"
                                  (selected)="selectAnnotation(searchArea.value, $event)"></smt-alignment-result>
        </div>
    </div>
    <div class="row" style="margin-top: 30px;" *ngIf="selectedAnnotation != null">
        <div class="col-md-3" style="width: 135px;">
            <p class="pipeline-label">
                Selected token:<br/>
                Entity class:
            </p>
        </div>
        <div class="col-md-4">
            <p>
                {{selectedAnnotation.token}}<br/>
                {{selectedAnnotation.nerClass}}
            </p>
        </div>
    </div>
    <div class="row" style="margin-top: 15px;" *ngIf="twitterAnnotation != null">
        <h4>Results</h4>
    </div>
    <div class="row" *ngIf="twitterAnnotation != null">
        <div class="col-md-12 results">
            <table class="table table-condensed">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Username</th>
                    <th *ngFor="let scoreBundle of twitterAnnotation.results" (click)="sortScores(scoreBundle)" style="cursor: pointer; width: 55px">{{getTypeName(scoreBundle.type)}}</th>
                </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let candidate of annotationRepository" smt-candidate
                       [candidate]="twitterAnnotation.candidates[candidate.username]"
                       [scores]="candidate.scores"></tr>
                </tbody>
            </table>
        </div>
    </div>
</div>