<div class="container" style="width:700px">
    <div class="row">
        <div class="col-xl-12">
            <div class="input-group input-group-lg">
                <input type="text" class="form-control" style="margin-right: -150px;" placeholder="Type name here" aria-describedby="query-name" #searchString>
                <input type="text" class="form-control" style="width: 150px;" placeholder="Topic (optional)" #searchTopic>
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" (click)="search(searchString.value, searchTopic.value)">Search</button>
                </span>
            </div>
        </div>
    </div>
</div>

<div class="container" style="margin-top: 20px">
    <div class="row" [class.hidden]="status != 'LOADING'">
        <div class="col-xl-12">
            <div style="text-align: center">
                <img src="/images/ajax-loader.gif" />
            </div>
        </div>
    </div>
    <div class="row" [class.hidden]="status != 'EMPTY'">
        <div class="col-md-offset-4 col-md-4" style="text-align: center">
            <h4>There are no candidates for this name</h4>
        </div>
    </div>
    <div class="row" *ngFor="let row of rows" [class.hidden]="status != 'DONE'" style="margin-top: 15px;">
        <div class="col-md-4" *ngFor="let candidate of row" style="max-height: 200px;">
            <div class="panel panel-default" style="height: 200px; overflow: hidden;">
                <div class="panel-heading">
                    <h3 class="panel-title" style="overflow: hidden; white-space: nowrap;">
                        {{candidate.user.name}}
                        (<a href="https://twitter.com/{{candidate.user.screenName}}">@{{candidate.user.screenName}}</a>)
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="pull-left" style="margin-right: 15px;">
                        <img src="{{candidate.user.profileImageUrl}}" alt="user avatar" />
                    </div>
                    {{candidate.user.description}}
                    <p *ngIf="candidate.user.status != null">{{candidate.user.status.text}}</p>
                    <p *ngIf="candidate.user.location != null">{{candidate.user.location}}</p>
                    <p *ngIf="candidate.score > 0.0">Score: {{candidate.score.toFixed(4)}}</p>
                </div>
            </div>
        </div>
    </div>
</div>