<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="stdout" target="SYSTEM_OUT">
            <PatternLayout charset="UTF-8"
                           pattern="%d{dd-MM HH:mm:ss.SSS} (%level{length=1}) %msg  [%t %logger{1.}]%n%rEx{full}" />
        </Console>
    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="stdout" />
        </Root>
        <Logger name="edu.stanford" level="warn" />
        <Logger name="twitter4j" level="info" />
        <Logger name="com.lambdaworks.redis" level="info" />
        <Logger name="io.netty" level="info" />
    </Loggers>
</Configuration>
